
.Main{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    .Slider-class{
        width: 30%;
        margin-left: 10%;
    }
    .Main-list{
        text-align: left;
        max-width: 40%;
        margin-left: 6%;
        margin-right: 5%;
        margin-top: 2%;
        p{
            margin-top: 5%;
        }
        ul{
            margin-top: 6%;
            li{
                margin-top: 3%;
            }
        }
        Button{
            margin-top: 8%;
        }
    }
}
.img1{
    img{
        width: 90%;
        margin-left: 0%;
        margin-bottom: 10%;
    }
}

.Thumb-slider{
    margin-left: 5%;
}

@media only screen and (max-width: 600px) {
    .Main{
        display: inline;
        overflow-x: hidden;
        .Slider-class{
            margin-top: 10%;
            width: 90%;
            margin-bottom: 10%;
            margin-left: 5%;
        }
        .Main-list{
            max-width: 85%;
            margin-left: 7%;
            p{
                text-align: justify;
            }
        }
        Button{
            margin-bottom: 10%;
        }
    }

}