$light-base: #f7fcfd;
$dark-base:  #15282f;
$light-green: #c1ea00;
$dark-green: #285056;
$blue: #0ed2e9;

.About{
    height: 500px;
    color: $light-base;
    background-color: $dark-green;
}

.About-container{
    padding-top: 3%;
    padding-bottom: 3%;
}

.About-title{
    margin-top: 6%;
    margin-bottom: 2%;
}
.About-paragraph{
    margin-left: 10%;
    margin-right: 10%;
}