.About{
    height: 500px;
    background-color: #cccccc;
}

.About-container{
    padding-top: 3%;
    padding-bottom: 3%;
}

.About-title{
    margin-top: 6%;
    margin-bottom: 2%;
}
.About-paragraph{
    margin-left: 10%;
    margin-right: 10%;
}