$light-blue: #7deefb;

.Featured-products{
    padding: 0px;
}

.Featured-products-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: -10px;
    margin-right: -10px;
}

.Featured-title-main{
    margin-bottom: 4%;
}

.Featured-text-col-right{
    background-color: $light-blue;
    padding-left: 25%;
    padding-right: 18%;
    padding-top: 28%;
    padding-bottom: 28%;
    z-index: -1 !important;
    margin-left: -23%;
}
.Img-1{
    width: 90%;
    margin-left: -10%;
    z-index: 10 !important;
    position: relative;
}

.Featured-text-col-left{
    background-color: $light-blue;
    padding-left: 18%;
    padding-right: 25%;
    padding-top: 28%;
    padding-bottom: 28%;
    margin-right: -23%;
    z-index: -1 !important;
}

.Img-2{
    width: 90%;
    margin-right: -10%;
    z-index: 10 !important;
    position: relative;
}
