$light-blue: #7deefb;

.Featured-title-main{
    margin-bottom: 4%;
    margin-top: 2%;
    font-size: 50px;
}

.Featured-products-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    background-color: #acf1f5;
    height: 600px;
    margin-left: 25%;
    .Featured-text-col-right{
        z-index: -1 !important;
        margin-right: 18%;
        max-width: 75%;
        .Featured-title{
            font-size: 80px;
            margin-bottom: 50px;
        }
        .Featured-text{
            font-size: 25px;
        }
    }
    .Img-1{
        width: 210%;
        z-index: 10 !important;
        margin-left: -183%;
    }
}

.Featured-products-container2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    background-color: #acf1f5;
    height: 600px;
    margin-right: 25%;

    .Featured-text-col-left{
        z-index: 2 !important;
        max-width: 58%;
        margin-left: 12%;
        .Featured-title{
            font-size: 80px;
            margin-bottom: 50px;
        }
        .Featured-text{
            font-size: 25px;
        }
    }
    .Img-2{
        position: absolute;
        width: 36%;
        z-index: 10 !important;
        margin-left: 45%;
    }
}


@media only screen and (max-width: 600px) {
    .Featured-products{
        display: inline;
        .Featured-title-main{
            font-size: 40px;
            margin-top: 10%;
        }

        .Featured-products-container{
        display: inline;
        margin-left: 0%;
        margin-right: 0%;
            .Featured-text-col-right{  
                max-width: 80%;
                margin-left: 10%;
                margin-right: 0%;    
                .Featured-title{
                    font-size: 40px;
                }
                .Featured-text{
                    font-size: 16px;
                }
            }
            .Img-1{
                width: 80%;
                margin-left: 0%;
            }
        }
        
        .Featured-products-container2{
        display: inline;
            .Featured-text-col-left{
                max-width: 80%;
                .Featured-title{
                    font-size: 40px;
                }
                .Featured-text{
                    font-size: 16px;
                }
            }
            .Img-2{
                width: 80%;
                position: absolute;
            }
        }
    }
}