$light-base: #f7fcfd;
$dark-base:  #15282f;// #221e2a;
$light-green: #c1ea00;
$dark-green: #285056;
$blue: #0ed2e9;

.Footer{
    height: auto;
    color: $light-base;
    background-color: #acf1f5;
    color: black;
    .Footer-container{
        display: flex;
        padding: 20px 10%;
        justify-content: space-between;
        .Footer-logo{
            margin-top: 15px;
        }
        .Footer-column2{
            margin-top: 15px;
            h3{
                margin-bottom: 30%;
            }
            .Footer-links > a{
                text-decoration: none;
                color: black;
                display: block;
            }

        }
        .Footer-column3{
            .Footer-icons{
                font-size: 40px;
                margin-bottom: 20px;
                .Instagram{
                    margin: 0 auto;
                }
            }
            .footer-contact{
                i{
                    font-size: 25px;
                    color: #549194;
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }
        }
    }
    .Footer-rights{
        margin-bottom: 0;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .Footer{
        color: $light-base;
        background-color: #acf1f5;
        color: black;
        .Footer-logo{
            img{
                margin-top: 12%;
                width: 60%;
            }
        }
        .Footer-column2{
            .Footer-links{
                .home-link{
                    text-decoration: none;
                    color: black;
                    display: block;
                    margin-bottom: 5%;
                }
                .products-link{
                    text-decoration: none;
                    color: black;
                    display: block;
                    margin-bottom: 5%;
                }
                .faq-link{
                    text-decoration: none;
                    color: black;
                    display: block;
                    margin-bottom: 12%;
                }
    
            }

        }
        .Footer-column3{
            .Footer-icons{
                display: flex;
                font-size: 40px;
            }
        }
        .Footer-rights{
            margin-top: 5%;
        }
    }
}