$light-base: #f7fcfd;
$dark-base:  #15282f;// #221e2a;
$light-green: #c1ea00;
$dark-green: #285056;
$blue: #0ed2e9;

.Footer{
    height: 250px;
    color: $light-base;
    background-color: $dark-base;
}