$light-base: #f7fcfd;
$dark-base:  #15282f;
$light-green: #c1ea00;
$dark-green: #285056;
$blue: #0ed2e9;


.Cards{
    margin: 8% 0;
    color: $dark-green;
    padding: 20px;
}

.Cards-container {
    display: flex;
    justify-content: center;
  }

  .Cards-img-col{
      margin-top: 55px;
    .line{
        width: 140%;
        height: 3px;
        margin-left: 30px;
        background-color: #0ed2e9;
      }
      .Cards-img {
          width: 85%;
          margin-top: 10px;
      }
  }


  .Cards-text-col {
      margin-left: 3%;
      h1{
          text-align: left;
      }
      p{
        margin-top: 40px;
        text-align: left;
      }
  }