.Cards{
    margin-top: 3%;
}
.Cards-all{
    display: flex;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 10%;
}
.Cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 28%;
    margin-left: 3%;
  }

  .Cards-img {
      width: 100%;
  }

  .Cards-text-col {
      margin-left: 3%;
  }

  .Cards-hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }