$light-base: #f7fcfd;
$dark-base:  #15282f;
$light-green: #c1ea00;
$dark-green: #285056;
$blue: #0ed2e9;


.Cards{
    margin-top: 3%;
    margin-bottom: 10%;
    color: $dark-green;
}

.Cards-container {
    display: flex;
    justify-content: center;
  }

  .Cards-img-col{
      margin-top: 55px;
    .line{
        width: 140%;
        height: 3px;
        margin-left: 35px;
        background-color: #0ed2e9;
      }
      .Cards-img {
          width: 85%;
          margin-top: 10px;
      }
  }


  .Cards-text-col {
      h1{
          text-align: left;
          font-size: 45px;
      }
      p{
        font-size: 28px;
        margin-top: 40px;
        text-align: left;
      }
  }
    .Cards-description{
        font-size: 30px;
    }