.Cards{
    display: flex;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 0;


    .Cards-container1{
        display: flex;
        margin-right: 3%;
        .Cards-img-container{
            margin-top: 4%;
            .hr1{
                margin-left: 15%;
                width: 135%;
                height: 1.9px;
                background-color: #0ed2e9;
                margin-top: 1%;
            }

            .Cards-img{
                max-width: 50%;
            }
            
        }
        .Cards-text-container{
            max-width: 40%;
            text-align: left;
            .hr2{
                visibility: hidden;
            }
            h1{
                font-size: 30px;
            }
            p {
                font-size: 22px;
            }
        }
    }

    .Cards-container2{
        display: flex;
        .Cards-img-container{
            margin-top: 4%;
            .hr1{
                margin-left: 12%;
                width: 135%;
                height: 1.9px;
                background-color: #0ed2e9;
                margin-top: 1%;
            }
            .Cards-img{
                max-width: 48%;
            }
        }
        .Cards-text-container{
            max-width: 40%;
            text-align: left;
            .hr2{
                visibility: hidden;
            }
            h1{
                font-size: 30px;
            }
            p {
                font-size: 22px;
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .Cards-container1{
        .Cards-img-container{
            .hr1{
            }
            .Cards-img{
                width: 80%;
            }
        }
        .Cards-text-container{
            h1{
                font-size: 24px;
            }
            p{
                font-size: 20px;
            }
            .Second-title{
                margin-top: 7%;
            }
        }
    }
    .Cards-container2{
        .Cards-img-container{
            .hr1{
            }
            .Cards-img{
                width: 80%
            }
        }
        .Cards-text-container{
            h1{
                font-size: 24px;
            }
            p{
                font-size: 20px;
            }
            .Second-title{
                margin-top: 8%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .Cards{
        display: inline;
        margin-right: 10%;
    
    
        .Cards-container1{
            display: inline;
            margin-right: 3%;
            .Cards-img-container{
                margin-top: 4%;

                .hr1{
                    display: none;
                }
                .Cards-img{
                    max-width: 70%;
                    margin-left: 7%;
                }
                
            }
            .Cards-text-container{
                max-width: 90%;
                text-align: center;
                margin-left: 10%;
                h1{
                    font-size: 30px;
                    margin-top: 4%;
                }
                p{
                    font-size: 20px;
                }
                .hr2{
                    visibility: visible;
                    width: 80%;
                    height: 3px;
                    background-color: #0ed2e9;
                }
            }
        }

        .Cards-container2{
            display: inline;
            margin-right: 3%;
            .Cards-img-container{
                margin-top: 4%;

                .hr1{
                    display: none;
                }
                .Cards-img{
                    max-width: 70%;
                    margin-left: 7%;
                }
                
            }
            .Cards-text-container{
                max-width: 90%;
                text-align: center;
                margin-left: 10%;
                h1{
                    font-size: 30px;
                    margin-top: 4%;
                }
                p{
                    font-size: 20px;
                }
                .hr2{
                    visibility: visible;
                    width: 80%;
                    height: 3px;
                    background-color: #0ed2e9;
                }
            }
        }
    }
}