@import "../../App.scss";

nav{
    background-color: #6de5eb;
    .navbar-brand{
        img{
            width: 150%;
        }
    } 
    .navbar-nav > .nav-link{
        color: black !important;
        font-weight: 600;
    }
}