$dark-green: #285056;

.Navbar-color{
    background-color: #6de5eb;
}
.mr-auto{
    margin-left: 72%;
    font-size: 22px;
}
@media only screen and (max-width: 1600px) {
    .mr-auto{
        margin-left: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .mr-auto{
        margin-left: 37%;
        .nav-link{
        color: $dark-green !important;
        }
    } 
}