$dark-green: #285056;

.Navbar-color{
    background-color: #6de5eb;
}
.mr-auto{
    margin-left: 72%;
    font-size: 22px;
}
@media only screen and (max-width: 1600px) {
    .mr-auto{
        margin-left: 60%;
    }
}

@media only screen and (max-width: 1300px) {
    .nav-link{
        font-size: 20px;
    }
    .mr-auto{
        margin-left: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    .burger{
        margin-left: -40%;
    }
    .mr-auto{
        margin-left: 8%;
        max-width: 120%;
        .nav-link{
        color: $dark-green !important;
        width: 100%;
        }
    } 
}

@media only screen and (max-width: 700px) {
    .burger{
        margin-left: -50%;
    }
    .mr-auto{
        margin-left: 8%;
        max-width: 120%;
        .nav-link{
        color: $dark-green !important;
        width: 100%;
        }
    } 
}