$light-base: #f7fcfd;
$dark-base:  #15282f;
$light-green: #c1ea00;
$dark-green: #285056;
$blue: #0ed2e9;

.Reviews{
    color: $dark-green;
    display: flex;

    .Reviews-container{
        display: flex;
        max-width: 28%;
        margin-left: 2%;
        margin-top: 5%;
        margin-bottom: 5%;

        .Reviews-col{
            display: flex;
            align-items: center;
            justify-content: center;
            
            .Reviews-img{
                width:100%
            }

            .Reviews-text-col{
                margin-left: 3%;
            }
            
            .Reviews-hr{
                border: 2px solid $light-green;
                //color: $light-green;
                //background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
              }
            
        }
    }
}

