$light-base: #f7fcfd;
$dark-base:  #15282f;
$light-green: #c1ea00;
$dark-green: #285056;
$blue: #0ed2e9;

.Reviews-title{
    color: $dark-green;
}
.Reviews{
    color: $dark-green;
    display: flex;
    .Reviews-container{
        display: flex;
        max-width: 32%;
        margin-top: 5%;
        margin-bottom: 5%;

        .Reviews-col{
            display: flex;
            align-items: center;
            justify-content: center;
            
            .Reviews-img{
                width:70%;
            }

            .Reviews-text-col{
                max-width: 50%;
            }
            
            .Reviews-hr{
                border: 2px solid $light-green;
                //color: $light-green;
                //background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
              }
            
        }
    }
}

@media only screen and (max-width: 1600px) {
    .Reviews{
        .Reviews-container{
            .Reviews-col{
                .Reviews-img{}
                .Reviews-text-col{
                    .Reviews-text-title{
                        font-size: 28px;
                    }
                    .Reviews-text-paragraph{
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
.Reviews-title{
    margin-top: 10%;
    margin-bottom: 15%;
    font-size: 40px;
}
.Reviews{
    color: $dark-green;
    display: inline;
    margin-top: 15%;
    .Reviews-container{
        display: inline;
        .Reviews-col{
        display: inline;
            .Reviews-img{
                max-width: 60%;
            }
            .Reviews-text-col{
                max-width: 60%;
                margin-left: 20%;
                margin-bottom: 15%;
            }
            .Reviews-hr{}
        }
    }
}
}

