.Products{
  margin-top: 3%;
}
.Products-row {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;

  .Products-card {
    margin-right: 2%;

    .Card-text{
      margin-left: 9%;
      margin-top: 3%;
    }
    img{
      width: 105%;
    }

    Button{
      margin-top: 5%;
      margin-left: 9%;
    }
  }
}