.Quote {
  height: 350px;
  background-color: #285056;
  .Quote-title {
    padding-top: 7%;
    color: white;
    font-weight: 750;
  }
}

@media only screen and (max-width: 600px) {
  .Quote{
    height: 400px;
    .Quote-title{
      padding-top: 15%;
    }
  }
}