.div-1{
    height: 600px;
    background: radial-gradient(circle, rgba(255,255,255,1) 22%, rgba(160,238,242,1) 100%);
}

.carousel-inner{
    height: 100%;
    display: flex;
    .carousel-item{
        width: 52.5% !important;
        .banner-product{
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            img{
                margin: 0 auto;
            }
            #bleach-logo-title{
                margin-top: -15px !important;
            }
            .banner-logo-title{
                img{
                    margin-top: -15px;
                }
                span{
                    font-size: 30px;
                    margin-left: 10px;
                }
            }
            p{
                font-size: 30px;
                color: #EA7317;
                font-weight: 500;
                margin-bottom: 0;
            }
            
        }
    } 
}
 

.rib2{
    position: absolute;
    float: right;
    right: 0;
}
 

 
@media only screen and (max-width: 1700px) {
    .carousel-item{
        margin-left: -4%;
    }
}

@media only screen and (max-width: 1549px) {
    .carousel-item{
        margin: 0 auto !important;
    }
    .rib1, .rib2{
        display: none;
    }
}

@media only screen and (max-width: 1200px){
    .div-1{
        height: 500px;
    }
    .bannerdisp{
        max-width: 80%;
    }
}

@media only screen and (max-width: 900px){
    .carousel-inner .carousel-item{
        width: 70% !important;
        .banner-product p{
            font-size: 25px;
        }
    }
}

@media only screen and (max-width: 700px){
    .carousel-inner .carousel-item{
        width: 80% !important;
    }
}

@media only screen and (max-width: 500px) {
    .carousel-inner .carousel-item{
        width: 90% !important;
    }
    .rib1{
        display: none;
    }
    .rib2{
        display: none;
    }
    .div-1{
        height: 450px;
        background: radial-gradient(circle, rgba(255,255,255,1) 22%, rgba(160,238,242,1) 100%);
    }
    .bannerhs{
        max-width: 100% !important;
        margin-left: 0% !important;

    }
  }
