.Contact{
    margin-top: 5%;
    margin-bottom: 5%;
    h1{
        margin-bottom: 3%;
        font-size: 45px;
    }
    p{
        font-size: 30px;
        margin-bottom: 5%;
    }
    Button{
        margin-top: 5%;
    }
}